@model User
@{
    ViewData["Title"] = "ShowProfile";
}

<h1>My Profile</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Age</th>
            <th scope="col">Role</th>
            <th scope="col">Image</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Password</td>
            <td>@Model.Age</td>
            <td>@Model.Role</td>
            <td>@Model.Image</td>
            <td><a href="/Customer/Edit/@Model.Id" class="btn btn-outline-info">Edit</a></td>
            <td><a href="/Customer/Details/@Model.Id" class="btn btn-outline-success">Details</a></td>
            </tr>
    </tbody>
</table>